# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Umbraco specific
umbraco/Data/TEMP/
umbraco/Logs/
umbraco/Deploy/
umbraco/Media/*

# Allow the SQLite DB
!umbraco/Data/Umbraco.sqlite.db

# Node/Front-end
node_modules/
dist/

.vs/